
/*---media query para tablet a partir de los 760px---*/
@media (min-width: 760px) {
/*------ INICIO MENU NAV------*/
    /*contenedor principal*/
    .navbar {
        display: flex;
        justify-content: space-between; /* lleva el menu justificado a la derecha*/
    }

    /*ocultar botone*/
    .navbar-menu-mobile {
        display: none;
    }


    /*cambia altura menubar-container*/
    .navbar-container {
        height: auto; /*se ajusta a su contenido*/
        flex-direction: row; /*para cambiar el menu de columna a fila*/
        position: static; /*saca la posicion absoluta del mobile first*/
        width: 60%; /*achica tamaño menubar*/
    }
    .brand-link img{
        width: 300px;
        max-height: 85%;
        max-width: 85%;
    }

/*------ FIN MENU NAV------*/
    .fondo, .fondo img{
        margin: 0;
        text-align: center;
        height: 350px;
    }    

    .conciertos {
        font-size: 1.5em;
    }
    
    .photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 900px;
        grid-gap: 6px;
        margin: auto;
    }    
    .photos img:hover {
        transform: scale(1.50);
    }
    #bannerProximo {
        width: 450px;
        margin: auto;
    }
    
    .div-logo{
        height: 250px;
    }
    .div-logo img {
        max-height: 100%;
        max-width: 100%;
    }
    .photos-integrantes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
        width: 100%;
        margin: auto;
    }
    .photos-integrantes img{
        padding: auto;
    }

    .photos-integrantes p{
        display: flex;
    }
    
    .texto-bg p {
        margin: 20px 90px;
        font-size: 30px;
    }
    #historia p {
        padding: 0 60px 20px 60px;
        font-size: 20px;
    }
    .videos iframe{
        margin: 50px 0 50px 0;
        width: 560px;
        height: 315px;
        align-items: center;
    }


}