
/*---media query para tablet a partir de los 760px---*/
@media (min-width: 760px) {

    /*------ INICIO MENU NAV------*/
    /*contenedor principal*/
    .navbar {
        display: flex;
        justify-content: space-between; /* lleva el menu justificado a la derecha*/
    }

    /*ocultar botone*/
    .navbar-menu-mobile {
        display: none;
    }

    /*cambia altura menubar-container*/
    .navbar-container {
        height: auto; /*se ajusta a su contenido*/
        flex-direction: row; /*para cambiar el menu de columna a fila*/
        position: static; /*saca la posicion absoluta del mobile first*/
        width: 65%; /*achica tamaño menubar*/
    }

    /*tamaño logo*/
    .brand-link img{
        max-height: 100%;
        max-width: 100%;
    }
    /*------ FIN MENU NAV------*/




    /*---INICIO index----*/
    .fondo, .fondo img{
        height: 500px;
    }
    .texto-bg p {
        margin: 20px 90px;
        font-size: 25px;
    }    
    /*---FIN index----*/
 


    /*----INICIO La Banda----- */  
    #historia p {
        padding: 0 50px 20px 60px;
        font-size: 25px;
    }

    .photos-integrantes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
        width: 100%;
        margin: auto;
    }
    .photos-integrantes img{
        padding: auto;
    }

    .photos-integrantes p{
        display: flex;
        padding: 5px 20px;
        align-items: center;
        text-align: center;
    }

    /*----FIN La Banda----- */  


    /*--- INICIO videos youtube*/
    .videos iframe{
        margin: 50px 0 50px 0;
        width: 560px;
        height: 315px;
        align-items: center;
    }
    /*--- FIN videos youtube*/



    /*----INICO Contacto ---*/
    .whatsappLink.mobile {
        display: none;
    }
    .whatsappLink.desktop{
        display: inline;
    }
    /*----FIN Contacto ---*/

}
/*---FIN media query para tablet a partir de los 760px---*/